:root {
    --accent-color: #00ffd8;
}

/*OVERRIDE radio style*/
input[type="radio"]:checked, input[type="checkbox"]:checked
{
    background-color: var(--accent-color);
}
input[type="radio"]:not(:checked),  input[type="checkbox"]:not(:checked)
{
    background-color: transparent;
}

/*Sidebar*/

/*btn
"top-3", "start-3","btn-sm", "rounded-circle"
*/

.toggleBtnOffCanvas{
width: 45px;
height: 45px;
background-color:  var(--bs-body-bg);
display: flex;
align-items: center;
justify-content: center;
/*#212529*/
}


#mainOffCanvas{
    background-color: var(--bs-body-bg)!important;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainOffCanvas .offcanvas-header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bs-body-bg);
}

#mainOffCanvas .offcanvas-body {
    flex: 1 1 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#mainOffCanvas .offcanvas-body > div:first-child {
    flex: 1 1 0;
    overflow-y: auto;
}

.toggleBtnOffCanvas img{
    width: 30px;
    height: 30px;
    margin:0px;
}

/*Convert in full centered in mobile:*/
@media screen and (max-width: 576px) { 
    .sidebar.right{
        margin: auto;
        width: calc( 100% - 16px);
        max-height: 100%;
        position: absolute;
    }
}

.sidebar {
    background-color: var(--bs-body-bg)!important;
    position: fixed;
    top: 8px;
    color: white;
    overflow-y: auto;
    padding: 15px;
    padding-bottom:6px;
}

.left
{
    left: 0;
    width: 450px;
    height: 100vh;
}

.right
{
    right: 8px;
    width: 300px;
    border-radius: 20px;
}

.sidebar h2 {
    text-align: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
    padding: 10px;
}

/*Header*/

/*Discovery*/

/*DiscoveryMainPanel*/
.noborder
{
    border: none!important;
}

.sideBlockMainContainer
{
     border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.columnFlexContainer {
    margin-top: 5px;
    display: flex;
    width: 100%;
   
    overflow: hidden;
  /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.columnFlexContainer .box {
    width: 50%;
   
    box-sizing: border-box;
}

.columnFlexContainer h2 {
    margin-top: 0;
}

.columnFlexContainer label {
    display: flex;
    align-items: center;
}

.columnFlexContainer label input[type="radio"] {
    margin-right: 10px;
}

.columnFlexContainer p {
    margin-top: 10px;
}

#discoveryAusiliarPanel
{
 /*   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 10px;*/
    display:none;
}

#discoverySelectionLayerPanel{

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 10px;
    display:none;
}

#discoverySelectionLayerPanel .columnFlexContainer  {
    flex-wrap: wrap;
}

#discoverySelectionLayerPanel .columnFlexContainer .box {
    min-width: 140px;
}

/*RADIUS SLIDER*/
.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.flex-sliderContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-text {
    margin-right: 10px;
}

.slider {
    vertical-align: middle;
}

#slider{
    background-color: #cfcfcf;
    border-radius: 20px;
}


/*Select custom styles*/
.selectWrapper{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
  }
  .selectBox{
    width:140px;
    height:40px;
    border:0px;
    outline:none;
  }
/*POIsPanel*/
.flex_between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.radiosTechinquesContainer
{
    display: flex;
    gap:10px;
}

.radioTechniqueItem
{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3px;
}
.underlineTechnique
{
    height: 8px;
    width: 30px;
    border-radius: 5px;
}

.underlinedTechniqueContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
.bulletTechnique
{
    height: 15px;
    width: 15px;
    border-radius: 8px;
}
*/

#POI_FilterPanel
{
    display: none;
}

/*POI List Items and Containers*/
.POIListContainer
{
    display: block;
}
.poiListItem
{
    display: flex;
    align-items: center;
    justify-content: left;
    /*border: 1px solid #ccc;*/
    border-radius: 20px;
    padding: 5px;
    padding-left:15px;
    background-color: #2a2a2a;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 30px;

}
.poiListItem .tecsContainer
{
    flex-direction: column;
    display: flex;
    gap: 2px;
}

.POI_itemTitle
{
    margin-right: 10px;
}

.poiListItem_hovered
{
 background-color: rgb(178, 178, 178);
 color: black;
 cursor: pointer;
}

.poiListItem_clicked
{
 background-color: white;
 color: black;
}

.customDetails {
    padding: 10px;
}

.customSummary {
    align-items: center;
    cursor: pointer;
}

.summary-content {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left-text {
    margin-right: auto;
}

.right-text {
    float: right;
}

p {
    margin-top: 10px;
    padding: 10px;
}



/*TABS TECHNIQUES*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    color: black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }



  /*Customize Tabs Placeholder*/
/* General Tabs Styling */
.r_tab::after,
.o_tab::after,
.b_tab::after {
    content: "";
    display: block;
    width: 30px;
    height: 8px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Specific Colors */
.r_tab::after {
    background-color: #a80101;
}

.o_tab::after {
    background-color: #c05702;
}

.b_tab::after {
    background-color: #006172;
}





  .imgTechContainer{
    margin-top: 7px; /* to fix after bootstrap migration*/
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .imgTech
  {
    width: 100%;
  }

.imgTech_fullScreenBtn{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
    background-image: url(./res/icons/fullscreen_white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px;
    transition: all 0.2s;
}

.imgTech_fullScreenBtn:hover{
    opacity: 1;
    cursor: pointer;
}

.imgTech_fullScreenContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgTech_fullScreenContainer img{
    height: 100%;
}

.closeBtn {
    background-image: url(./res/icons/close-button.svg);
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    cursor: pointer;
}

.mulax-toolbar-top {
    top: 0px;
    right: 0px;
    display: inline-block;
    position: absolute;
}

.mulax-btn {
    background-color: rgba(var(--bs-body-bg-rgb), 0.8);
}

.mulax-btn:hover {
    background-color: rgba(var(--bs-body-bg-rgb), 1.0); 
}
